@font-face {
    font-family: chinese-font-family;
    src: url(/resources/fonts/simkai.ttf) format('truetype');
}

p.without-tff {
    font-family: Georgia, 'Times New Roman', 'KaiTi', '楷体', STKaiti, '华文楷体', serif;
}
p.with-tff {
    font-family: chinese-font-family, Georgia, 'Times New Roman', serif;
}
