doctype html
html(lang="en")
    head
        link(rel='stylesheet' href='/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
        script(src='/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
        title=title
    body
        h1.h1 Jade - node template engine
        #container.col
            if true
                p.warning You are amazing
            else
                p Get on it!
            p.
                Jade is a terse and simple templating language with a strong focus on performance and powerful features.
            button.btn.btn-info Hi
            button.btn.btn-warning.disabled Hi
