doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="/webapps/css/bootstrap.min.css")
        script(src="/webapps/js/bootstrap.min.js")
        title=title
    body
        h1.h1 Jade - node template engine
        #container.col
            if true
                p You are amazing
            else
                p Get on it!
            p.
                Jade is a terse and simple templating language with a strong focus on performance and powerful features.
            button.btn-info Hi
