doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1 Jade - node template engine
        ul#books
            li: a(href="#book-a") Book A
            li: a(href="#book-b") Book B