.col-lg-push-1.col-lg-4.jumbotron
    h1.h1 Welcome, traveler!
    h2.h2(style="font-family: Georgia, 'Times New Roman', 'KaiTi', '楷体', STKaiti, '华文楷体', serif;") &#13764 Hello;
    p This is a blog of a programmer, who decided ...
    p(style="font-family: Georgia, 'Times New Roman', 'KaiTi', '楷体', STKaiti, '华文楷体', serif;") 你好，近看! 这是编程人员的博客。我决定委弃我的在公司的工作，因为我要看别的外国和人。
    p(style="font-family: Georgia, 'Times New Roman', 'KaiTi', '楷体', STKaiti, '华文楷体', serif;") #{myText}
.col-lg-push-7.col-lg-1
    include sidemenu


