doctype html
html(lang="cn")
    body

        .col-lg-push-1.col-lg-4.jumbotron
            h1.h1 Welcome, traveler!
            p This is a blog of a programmer, who decided ...
            p 你好，近看! 这是编程人员的博客。我决定委弃我的在公司的工作，因为我要看别的外国和人。

