.col-lg-push-1.col-lg-4.jumbotron
    if showTwitter
        a.twitter-timeline(href="https://twitter.com/ChineseGrammar") Tweets by ChineseGrammar
        script(async='', src="//platform.twitter.com/widgets.js", charset="utf-8")
    else
        h1.h1 Welcome, my dear guest!
        p.without-tff without-tff: This is a blog of a programmer, who decided 你好，近看!
.col-lg-push-7.col-lg-1
    include sidemenu

