doctype html
html
    head
        link(rel='stylesheet' href='/webjars/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
        script(src='/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
        title="My Chinese Blog"
    body
        img.img-fluid(alt='Logo', src='/resources/images/logo.jpg' style="min-width:100%;")



