html
    head
        script(src='/webjars/jquery/2.2.3/jquery.js')
        script(src='/webjars/bootstrap/3.3.6/js/bootstrap.min.js')
        link(rel='stylesheet' href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css')


        title="My Chinese Blog"
    body
        img.img-fluid(alt='Logo', src='/resources/images/logo.jpg' style="min-width:100%;")



